/* CSS declarations go here */
.js-new-task {
	padding-top: 50px;
}

.thumbnail {
	max-height: 400px;
	min-height: 400px;
}

.js-image {
	max-height: 250px;
}

.imageEdit {
	float: left;
}

.imageDelete {
	float: right;
	position: absolute;
	top: 86%;
	right: 8%;
}

.welcome {
	padding-top: 50px;
}

.row {
    margin-right: 100px;
    margin-left: 100px;
}

.js-add-image {
	margin-right: 120px;
	margin-left: 120px;
}

.btn-toggle {
	margin-right: 120px;
	margin-left: 120px;
	margin-top: 80px;
}

.row {
	margin-top: 60px;
}

.login-buttons-dropdown-align- {
	margin-top: 12px;
	font-size: medium;
	padding-left: 10px;
}