/* CSS declarations go here */
.js-new-task {
	padding-top: 50px;
}

.thumbnail {
	max-height: 400px;
	min-height: 400px;
}

.js-image {
	max-height: 250px;
}

.imageEdit {
	float: left;
}

.imageDelete {
	float: right;
}

.welcome {
	padding-top: 50px;
}

.row {
    margin-right: 100px;
    margin-left: 100px;
}